
{{#each results}}
  <div class="result" data-rating="{{rating}}" 
                      data-country="{{drink_country}}" 
                      data-city="{{drink_city}}" 
                      data-abv="{{abv}}" 
                      data-year="{{year drink_datetime}}"
                      data-month="{{month drink_datetime}}"
                      >
    <span class="brewery">{{brewery}}</span>
    <span class="name">{{name}}</span><br/>
    <span class="beer-info">
      <span class="rating {{calcRating rating}}"></span> / <span class="style">{{style style}}</span> / <span class="country">{{country}}</span>
    </span>
  </div>
{{/each}}
